@{
    ViewBag.Title = "Email подтвержден";
}

<h2>Email подтверждён</h2>
<p>Спасибо за подтверждение! Теперь вы можете войти в систему.</p>
<a class="btn btn-primary" href="@Url.Action("Login", "Account")">Войти</a>
